{% if seo %}
    <div style="border: 1px solid #DDD; font-size: 12px; padding: 10px; margin-bottom: 10px">
        {{ seo.body | raw }}
    </div>
{#{% else %}#}
    {#<div style="border: 1px solid #DDD; font-size: 12px; padding: 10px; margin-bottom: 10px">#}
        {#Многие современные смартфоны достаточно мощные, чтобы без проблем поддерживать работу обычных офисных приложений, браузеров и других деловых (и не очень) инструментов. Но вот подавляющее количество программного обеспечения, выпускаемого для смартфонов, предназначе#}
    {#</div>#}
{% endif %}