<html>
    <head></head>
    <body>
    <table style="width: 800px" width="800">
        <tr>
            <td>
                <img src="http://projectwork.ru/bundles/app/images/a.png" style="width: 800px" width="800">
                <div style="font-size: 14pt; text-align: center" align="center">
                    <b>Добро пожаловать в «Онлайн Сумамед-Академию»!</b>
                    <br />
                    <br />
                    Место для тех, кто постоянно стремится к совершенству и профессиональному развитию и никогда не останавливается на достигнутом.
                    <br />
                    <br />
                    Здесь Вы сможете ознакомиться с последними тенденциями в терапии респираторных инфекций, выслушать экспертное мнение и обсудить острые вопросы с ведущими специалистами и коллегами.
                    <br />
                    <br />
                    Наша первая трансляция состоится уже <b>10 февраля 2016 года.</b>
                    <br />
                    <br />
                    Тема вебинара:<br />
                    <b>«Лоция в море насморка:<br />
                    дифференциальная диагностика различных форм риносинусита»</b>
                    <br />
                    <br />
                    С лекцией выступит <b>С. В. Рязанцев</b> – доктор медицинских наук, профессор,
                    зам. директора по научно-координационной работе ФГБУ «Санкт-Петербургский научно-исследовательский институт уха, горла, носа и речи» МЗ РФ и главный отоларинголог Северо-Западного Федерального округа.
                    <br />
                    <br />
                    <b>Начало мероприятия в 10:00.</b>
                    Длительность – 2 часа (30 минут на вопросы-ответы)
                    <br />
                    <br />
                    <a href="http://sumamed.evrika.ru/">http://sumamed.evrika.ru/</a>
                </div>
            </td>
        </tr>
    </table>
    </body>
</html>