* {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
body {
  text-align: center;
}
a {
  cursor: pointer !important;
}
h1.blue-text {
  font-size: 22px;
}
.blue-text {
  color: #0e66a2;
}
.red {
  color: #CC0000;
}
.blue-icon {
  color: #0e66a2;
}
.body {
  overflow-x: hidden;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.slider {
  height: 240px;
  overflow: hidden;
}
.slider img {
  width: 100%;
}
.btn {
  border-radius: 0;
  padding: 6px 40px;
}
.form-control {
  border-radius: 0;
}
.header > div {
  height: 100%;
}
#logo {
  width: 130px;
  margin: 5px;
}
#search {
  width: 230px;
}
.navbar-form {
  padding-top: 23px;
}
.register-btn {
  padding-top: 36px;
  display: inline-block;
  float: right;
  font-size: 16px;
}
.nomenu {
  width: 150px;
}
.nomenu:hover {
  background: none !important;
}
nav {
  -webkit-box-shadow: 0px 3px 8px -3px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 8px -3px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 8px -3px rgba(50, 50, 50, 0.5);
  border-radius: 0;
}
nav .navbar-nav {
  border-radius: 0;
  width: 100%;
  display: table;
}
nav .navbar-nav li:not(:last-child) {
  border-right: 1px solid #DDD;
}
nav .navbar-nav li {
  position: relative;
  text-align: center;
  float: none;
  display: table-cell;
  text-transform: uppercase;
}
nav .navbar-nav li a:hover {
  color: #FFFFFF;
  background: #337AB7;
}
nav .navbar-nav li a {
  text-transform: uppercase;
}
nav .navbar-nav li.active {
  background: #337AB7;
  color: #FFFFFF;
}
nav .navbar-nav li.active a {
  color: #FFFFFF;
  text-transform: uppercase;
}
nav .navbar-nav li.active a:focus {
  background: none;
}
nav .navbar-nav li:focus {
  background: none;
}
nav .navbar-nav li .submunu {
  transition: visibility 0s, opacity 0.5s ease;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 50;
  width: 100%;
  background: none;
  border-left: 1px solid #337AB7;
  border-right: 1px solid #337AB7;
}
nav .navbar-nav li .submunu ul li:nth-child(1) {
  border-top: 1px solid #337AB7;
}
nav .navbar-nav li .submunu ul li {
  width: 100%;
  display: block;
  background: rgba(51, 122, 183, 0.9);
  color: #FFF;
  border: 0;
  border-top: 1px solid #FFF;
  text-align: left;
  padding: 10px 5px 10px 20px;
}
nav .navbar-nav li .submunu ul li a {
  text-decoration: none;
}
nav .navbar-nav li .submunu ul li a:hover {
  background: none;
}
nav .navbar-nav li .submunu ul li:hover {
  background: #337ab7;
  color: #337AB7;
  cursor: pointer;
}
nav .navbar-nav li ~ :hover .submunu {
  visibility: visible;
  opacity: 1;
}
.collapse.navbar-collapse {
  padding: 0;
}
nav .navbar-nav li:hover {
  background: #337AB7;
  color: #FFF;
}
nav .navbar-nav li:hover a {
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.title {
  color: #337AB7;
  font-weight: bold;
  font-size: 16px;
}
.new-item {
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px dashed darkgray;
}
.new-item-title {
  font-size: 17px;
}
.table-condensed {
  width: 100%;
}
.day {
  cursor: pointer;
}
.day,
.dow,
.picker-switch {
  text-align: center;
}
.day:hover,
.dow:hover,
.picker-switch:hover {
  background: #DDD;
}
.day.isEvent {
  background: rgba(136, 191, 225, 0.34);
  border: 1px solid #FFF;
}
.day.active {
  background: #CCC;
  color: #FFFFFF;
}
.day.today {
  background: #337AB7;
  color: #FFFFFF;
}
.claendar-tabs {
  width: 100%;
}
.claendar-tabs .claendar-tab {
  display: inline-block;
  width: 50%;
  background: #DEECF5;
  text-align: center;
  padding: 5px 0;
  float: left;
  cursor: pointer;
  border: 1px solid #BDDAEB;
}
.claendar-tabs .active {
  background: #88BADD;
}
#calendar-widget {
  border: 1px solid #BDDAEB;
}
footer {
  margin-top: 30px;
}
.footer1 {
  background: #1f395e;
  color: #FFFFFF;
  padding: 20px 0 20px 0;
}
.footer2 {
  background: #252c36;
  color: #166aa6;
  padding: 20px;
}
.social-icon {
  width: 42px;
  margin-right: 10px;
}
.contact-icon {
  width: 60px;
}
.footer-other li {
  padding: 5px;
}
.contacts {
  padding-left: 30px;
}
.other-icon {
  padding-right: 15px;
}
.month,
.year,
.decade {
  display: inline-block;
  padding: 5px 10px;
}
.month ~ :hover,
.year ~ :hover,
.decade ~ :hover {
  background: #DDD;
}
.dropdown-menu-top {
  margin-top: -1px;
  width: 100%;
}
.owl-prev {
  position: absolute;
  top: 45%;
  margin-top: -15px;
  width: 37px;
  height: 55px;
  text-align: center;
  background: url("/bundles/app/images/left.png");
  left: 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
}
.owl-next {
  position: absolute;
  top: 45%;
  margin-top: -15px;
  width: 37px;
  height: 55px;
  background: url("/bundles/app/images/right.png");
  right: 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
}
.owl-next:hover,
.owl-prev:hover {
  opacity: 1;
}
.owl-dots {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.owl-dots .owl-dot {
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #BBB;
  display: inline-block;
}
.owl-dots .owl-dot.active {
  background: #337AB7;
}
.chosen-container {
  font-size: 14px;
}
.chosen-container-single .chosen-single {
  height: 34px;
  border-radius: 0;
}
.chosen-container-single .chosen-single span {
  padding-top: 4px;
}
.editor {
  float: right;
  padding-right: 10px;
  display: none;
}
.editor span {
  color: #444;
}
div:hover > .editor {
  display: block;
}
.owl-item {
  height: 224px;
}
.owl-item .item img {
  height: 224px;
}
table.table-vertical-middle tr td {
  vertical-align: middle;
}
table.table-th-bold tr th {
  font-weight: bold;
}
.course-title {
  font-size: 16px;
}
.course-description {
  color: #555;
}
.course-params {
  font-size: 13px;
}
.course-params b {
  color: #555;
}
.course-info .course-params {
  margin: 10px 5px;
}
.course-info .course-params b {
  color: #333;
}
.course-info .course-params ~ .course-price {
  font-size: 18px;
}
.edit-title {
  color: #337AB7;
  font-size: 16px;
  padding: 10px;
}
.event-params {
  color: #444;
}
.params {
  color: #444;
  font-size: 12px;
  font-style: italic;
}
.ui-menu-item {
  text-align: left;
}
.events-list {
  font-size: 13px;
}
.events-list:not(:last-child) {
  border-bottom: 1px dashed darkgray;
}
.events-list li {
  padding: 5px 10px;
}
th.prev,
th.next,
th.picker-switch {
  cursor: pointer;
}
.ya-share2 {
  text-align: right;
}
.modal-course-title {
  font-size: 16px;
  color: #333;
  padding: 5px 20px;
}
.test-question {
  font-size: 17px;
  color: #337AB7;
  font-weight: bold;
  max-width: 430px;
}
.test-answer {
  max-width: 350px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.row-params {
  border: 1px solid #CCC;
  padding: 0px 20px;
  background: #F5F5F5;
  margin: 0;
  overflow: hidden;
  height: 40px;
  font-size: 12px;
}
.required:after {
  content: " *";
  color: #CC0000;
}
.jqvmap-zoomin,
.jqvmap-zoomout {
  background: #0088cc;
  border-radius: 2px;
  color: white;
  height: 20px;
  line-height: 20px;
  padding: 0;
  width: 20px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  right: 0%;
}
.jqvmap-zoomin {
  top: 30px;
}
.jqvmap-zoomout {
  top: 0px;
}
.jqvmap-label {
  position: absolute;
  background: #333;
  color: #FFF;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #000;
}
.alert-success {
  color: #337AB7;
  background-color: #E1E6F3;
  border-color: #337AB7;
  font-size: 17px;
}
