.navbar-nav {
  background: #337AB7;
}
.navbar-nav li a {
  color: #FFFFFF;
  font-size: 12px;
}
.navbar-nav li a:active,
.navbar-nav li a:focus {
  background: none !important;
}
.navbar {
  border: 0;
}
nav .navbar-nav li:not(:last-child) {
  border-right: 1px solid #88BADD;
}
nav .navbar-nav li:nth-child(6) {
  border: 0 !important;
}
.nomenu {
  border: 0 !important;
}
@media screen and (max-width: 767px) {
  .rightbanner {
    text-align: center;
  }
  .slider {
    display: none;
  }
  .navbar-header {
    margin-top: -100px;
  }
  #menu {
    margin-top: 50px;
  }
  nav .navbar-nav li {
    display: block;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
    height: auto;
  }
  nav .navbar-nav {
    border: 0;
  }
  nav .navbar-nav li:not(:last-child) {
    border: 0;
  }
  nav .navbar-nav li {
    border: 0;
  }
  nav .navbar-nav li a {
    color: #337AB7;
    background: #FFFFFF;
    font-weight: bold;
    text-align: left;
  }
  nav .navbar-nav li:hover {
    color: #337AB7;
    background: #FFFFFF;
  }
  nav .navbar-nav li:hover a {
    color: #337AB7;
    background: #FFFFFF;
  }
  nav .navbar-nav li .submunu {
    background: #FFF;
    position: relative;
    display: block;
    visibility: visible;
    opacity: 1;
    border: 0;
  }
  nav .navbar-nav li .submunu ul {
    margin-left: 40px;
    border: 0;
  }
  nav .navbar-nav li .submunu ul li {
    border: 0;
    background: #FFF;
  }
  nav .navbar-nav li .submunu ul li a {
    color: #337AB7;
    background: #FFFFFF;
    font-weight: normal;
  }
  nav .navbar-nav li .submunu ul li a:hover {
    color: #337AB7;
    background: #FFFFFF;
  }
}
