.navbar-nav {
  background: #337AB7;
}
.navbar-nav li a {
  color: #FFFFFF;
  font-size: 12px;
}
.navbar-nav li a:active,
.navbar-nav li a:focus {
  background: none !important;
}
.navbar {
  border: 0;
}
nav .navbar-nav li:not(:last-child) {
  border-right: 1px solid #88BADD;
}
nav .navbar-nav li:nth-child(6) {
  border: 0 !important;
}
.nomenu {
  border: 0 !important;
}
