{% extends '@FOSUser/fos_layout.html.twig' %}

{% block fos_user_content %}
	<div class="email-confirm">
	  <div class="container"> <i class="img-confirm"></i>
		  <div class="alert alert-info">Вам на почту было отправлено письмо с подтверждением email.</div>
	  </div>
	</div>
{% endblock fos_user_content %}