{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="email-confirm">
	  <div class="container"> <i class="img-confirm"></i>
	    <p>Вам на почту было отправлено письмо с подтверждением email.</p>
	  </div>
	</div>
{% endblock fos_user_content %}