<html>
<head></head>
<body>
    <table style="width: 600px; border: 1px solid #FFFFCC">
        <tr>
            <td>
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/app/images/logo3.png') }}" style="width: 130px">

            </td>
        </tr>
    </table>
</body>
</html>