<html>
<head></head>
<body style="text-align: center; font-family: Helvetica, Arial, sans-serif; margin: 0">
<table style="width: 600px; margin: 0 auto; background: #FFF" width="600">
    <tr>
        <td style="font-size: 0px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">

            <img src="http://euat.ru/upload/slider/1474552538.png" width="600" style="width: 600px" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="color: #333; text-align: left; border-right: 1px solid #CCC; padding-right: 20px; border-left: 1px solid #CCC; padding-left: 20px" align="left">
            <br />
            <h3>Уважаемые коллеги!</h3>
            <p style="font-family: Helvetica, Arial, sans-serif">
                25-26 октября 2016г. в городе Нижний Новгород (ул. Советская, 12, Маринс Парк Отель) проходит <b>IV
                Международная конференция Евразийской Ассоциации Терапевтов</b>. Вы получите ответы на наиболее актуальные
                вопросы внутренней медицины.
            </p>
            <p style="font-family: Helvetica, Arial, sans-serif">
                В рамках этой конференции будут рассмотрены проблемы обследования и лечения коморбидного пациента в
                повседневной практике. В ходе пленарных докладов, мастер классов, основное время будет уделено не только
                теоретическим подходам, но и сугубо практическим алгоритмам, рекомендациям, схемам лечения.
            </p>
            <p>
                По результатам участия делегатов в конференции будут выданы именные сертификаты с указанием количества
                часов прослушанных лекций и соответствующего количества кредитов.
            </p>
            <p>
                <strong>Участие бесплатное.</strong>
            </p>
            <p style="font-family: Helvetica, Arial, sans-serif">
                Узнать более подробную информацию о мероприятии Вы можете <a style="font-weight: bold" href="http://euat.ru/events/conference-convention/iv_mezhdunarodnaja_konferentsija_eat?mail" target="_blank">на странице мероприятия</a>.
            </p>
            <br />
            <br />
            <br />
        </td>
    </tr>
    {#<tr>#}
        {#<td colspan="2">#}
            {#<hr />#}
        {#</td>#}
    {#</tr>#}
    <tr>
        <td colspan="2" style="background: #327AC4; color: #FFF; padding: 20px; font-size: 13px; font-family: Helvetica, Arial, sans-serif" bgcolor="#327AC4">
            <span style="font-size: 14px">С уважением, 	Евразийская Ассоциация Терапевтов</span>
            <br />
            <br />
            <span style="font-size: 12px">По всем вопросам, а также Вашим предложениям по улучшению работы сайта и
                сотрудничества  вы можете написать по адресу:
                <a style="color: #FFF" href="mailto:info@euat.ru">info@euat.ru</a>.</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #327AC4; color: #FFF; padding: 10px; font-size: 11px; font-family: Helvetica, Arial, sans-serif" bgcolor="#327AC4">
            Что бы отписаться от письма, пройдите по <a style="color: #FFF" href="{{ url('unfollow') }}?email={{ email }}">ссылке</a>
        </td>
    </tr>
</table>
</body>
</html>