<html>
<head></head>
<body style="text-align: center; font-family: Helvetica, Arial, sans-serif; margin: 0">
<table style="width: 600px; margin: 0 auto; background: #FFF" width="600">

    <tr>
        <td style="font-size: 0px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">

            <img src="http://euat.ru/upload/slider/1457505487.png" width="600" style="width: 600px" />
        </td>
    </tr>
    {#<tr>#}
        {#<td colspan="2">#}
            {#<hr />#}
        {#</td>#}
    {#</tr>#}
    <tr>
        <td colspan="2" style="color: #333; text-align: left; border-right: 1px solid #CCC; padding-right: 20px; border-left: 1px solid #CCC; padding-left: 20px" align="left">
            <br />
            <h3>Уважаемые коллеги!</h3>
            <p style="font-family: Helvetica, Arial, sans-serif">
            Это тестовая рассылка</b>.
            </p>
            <br />
            <br />
            <br />
        </td>
    </tr>
    {#<tr>#}
        {#<td colspan="2">#}
            {#<hr />#}
        {#</td>#}
    {#</tr>#}
    <tr>
        <td colspan="2" style="background: #327AC4; color: #FFF; padding: 20px; font-size: 13px; font-family: Helvetica, Arial, sans-serif" bgcolor="#327AC4">
            <span style="font-size: 14px">С уважением, 	Евразийская Ассоциация Терапевтов</span>
            <br />
            <br />
            <span style="font-size: 12px">По всем вопросам, а также Вашим предложениям по улучшению работы сайта и
                сотрудничества  вы можете написать по адресу:
                <a style="color: #FFF" href="mailto:info@euat.ru">info@euat.ru</a>.</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #327AC4; color: #FFF; padding: 10px; font-size: 11px; font-family: Helvetica, Arial, sans-serif" bgcolor="#327AC4">
            Что бы отписаться от письма, пройдите по <a style="color: #FFF" href="{{ url('unfollow') }}?email={{ email }}">ссылке</a>
        </td>
    </tr>
</table>
</body>
</html>