<html>
<head></head>
<body style="text-align: center; font-family: Helvetica, Arial, sans-serif; background: #EEE; margin: 0">
<table style="width: 600px; margin: 0 auto; background: #FFF" width="600">
    {#<tr>#}
        {#<td style="width: 160px; padding-left: 125px" width="160" align="left">#}
            {#<img src="http://euat.ru/bundles/app/images/logo3.png" style="width: 150px;" width="150" />#}
        {#</td>#}
        {#<td style="text-align: left" align="left">#}
            {#<a href="http://euat.ru?mail" target="_blank" style="text-decoration: none; color: #327AC4">#}
                {#Евразийская<br />#}
                {#Ассоциация<br />#}
                {#Терапевтов#}
            {#</a>#}
        {#</td>#}
    {#</tr>#}
    <tr>
        <td style="font-size: 0px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">

            <img src="http://euat.ru/upload/slider/1457505487.png" width="600" style="width: 600px" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: left; border-right: 1px solid #CCC; padding-right: 10px; border-left: 1px solid #CCC; padding-left: 10px" align="left">
            <h3>Уважаемые коллеги!</h3>
            <p style="font-family: Helvetica, Arial, sans-serif">
            II Съезд Евразийской Ассоциации Терапевтов (ЕАТ) пройдет <b>19-20 мая 2016 года</b> в <b>городе Ереван,
                Республика Армения</b>.
            Съезд проходит при поддержке:
            </p>
            <ul style="font-family: Helvetica, Arial, sans-serif">
                <li>Министерства Здравоохранения Республики Армения,</li>
                <li>Министерства Здравоохранения Нагорного Карабаха,</li>
                <li>Совета по сотрудничеству в области здравоохранения стран СНГ,</li>
                <li>Фонда поддержки медицины им. Мхитара Гераци.</li>
            </ul>
            <p style="font-family: Helvetica, Arial, sans-serif">
                Съезд носит статус международного. Планируется участие ученых, врачей, медицинских специалистов
                Республики Армения, Российской Федерации, Республики Кыргызстан, Республики Беларусь, Республики
                Казахстан, Республики Таджикистан, Республики Узбекистан. Ожидается участие специалистов из Канады,
                США, Франции, Грузии, Ирана. Учитывая международный статус съезда оргкомитет готов обсуждать участие
                специалистов других стран в рамках научной программы.
            </p>
            <p style="font-family: Helvetica, Arial, sans-serif">
                В рамках Съезда пройдут презентации лекций и мастер-классов от ведущих специалистов стран участниц
                Евразийской Ассоциации Терапевтов. Также пройдет конкурс молодых ученых.
            </p>
            <p style="font-family: Helvetica, Arial, sans-serif">
                По результатам участия делегатов в конгрессе будут выданы именные сертификаты с указанием количества
                часов прослушанных лекций и соответствующего количества кредитов.
            </p>
            <p style="font-family: Helvetica, Arial, sans-serif">
                Узнать более подробную информацию о мероприятии и ознакомиться с программой съезда вы можете <a style="font-weight: bold" href="http://euat.ru/event/8?mail" target="_blank">на странице мероприятия</a>.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #327AC4; color: #FFF; padding: 20px; font-size: 13px; font-family: Helvetica, Arial, sans-serif" bgcolor="#327AC4">
            <span style="font-size: 14px">С уважением, 	Евразийская Ассоциация Терапевтов</span>
            <br />
            <br />
            <span style="font-size: 12px">По всем вопросам, а также Вашим предложениям по улучшению работы сайта и
                сотрудничества  вы можете написать по адресу:
                <a style="color: #FFF" href="mailto:info@euat.ru">info@euat.ru</a>.</span>
        </td>
    </tr>
</table>
</body>
</html>