{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% set course = recordBook.course %}
    <h2>{{ course }}</h2>
    <div class="text-center">
        <h3>Поздравляем Вас - Вы прошли данный курс на {{ recordBook.percent }} процентов</h3>
        <br />
        <br />
        <a href="{{ path('record_book') }}">
            <button class="btn btn-default">Перейти в зачетную книжку</button>
        </a>
    </div>
{% endblock %}