{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Зачетная книжка</h1>
    <div>
        <table class="table table-vertical-middle table-th-bold">
            <tr>
                <th style="width: 500px">Название курса</th>
                <th class="text-center">Кол-во модулей</th>
                <th class="text-center">Результат</th>
                <th class="text-center">Дата завершения</th>
            </tr>
            {% for r in recordbook %}
                {% set course = r.course %}
                <tr>
                    <td style="width: 500px">{{ course.title }}</td>
                    <td class="text-center">{{ course.modules | length }}</td>
                    <td class="text-center">{{ r.percent  }}%</td>
                    <td class="text-center">{{ r.passed | date ('d.m.Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}