{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ category.title }}</h1>
    <div>
        {% for p in category.publications %}
            <div class="new-item">
                <a href="{{ path('publications', {'url' : p.id }) }}"><div class="new-item-title">{{ p.title }}</div></a>
                <div class="new-item-anons">
                    {{ p.body | anons | raw }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}