{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="col-xs-3">
        {% include "@App/Widget/calendar.html.twig" %}
    </div>
    <div class="col-xs-6">
        <div class="title">ВИДЕО</div>
    </div>
    <div class="col-xs-3 text-right">
        {% include "@App/Widget/banner.html.twig" %}
    </div>
{% endblock %}