{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1 class="blue-text">Калькулятор оценочной скорости клубочковой фильтрации (eGFR) с использованием CKD-EPI формулы</h1>
    <div>
        <div class="row">
            <div class="row">
                <div class=" col-xs-offset-4 col-xs-4">
                    <div class="dump" style="display: none"></div>
                    <div class="question_0_error" style=""></div>
                    <div class="question_1_error" style=""></div>
                    <div class="question_2_error" style=""></div>
                    <div class="question_3_error" style=""></div>
                    <div class="question_4_error" style=""></div>
                </div>
            </div>
            <div class=" col-xs-offset-4 col-xs-2">
                <b>Пол</b>
            </div>
            <div class="col-xs-4">
                <select class="question_0 form-control" onchange="compute();">
                    <option value="1">Мужской</option>
                    <option value="0">Женский</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class=" col-xs-offset-4 col-xs-2">
                <b>Рассовая принадлежность</b>
            </div>
            <div class="col-xs-4">
                <select class="question_1 form-control" onchange="compute();">
                    <option value="1.156">Афроамериканец</option>
                    <option value="1">Другой</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class=" col-xs-offset-4 col-xs-2">
                <b>Возраст (Лет)</b>
            </div>
            <div class="col-xs-4">
                <input type="text" onkeyup="compute();" class="question_2 form-control" name="question_2" placeholder="Возраст">
                <input type="hidden" class="question_2_units" name="question_2_units" value="1">
            </div>
        </div>
        <br />
        <div class="row">
            <div class=" col-xs-offset-4 col-xs-2">
                <b>Креатинин</b>
            </div>
            <div class="col-xs-2">
                <input type="text" onkeyup="compute();" class="question_3 form-control" name="question_3" placeholder="Креатинин">
            </div>
            <div class="col-xs-2">
                <select class="form-control question_3_units" onchange="compute();">
                    <option value="1.0">mg/dL</option>
                    <option value="0.011312217">µmol/L</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-offset-4 col-xs-6">
                <div class="results_content alert alert-info">
                    Пожалуйста, ответьте на все вопросы. Все результаты будут вычислены сразу.
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/test.js') }}"></script>
    <script>
        function compute() {
            $(".dump").html('');
            var total_variables = 4;

            set_unit();
            $0 = Number($(".question_0").val());
            variable_feedback = variable_feedback + 0 + " is " + $0 + ", ";

            set_unit();
            $1 = Number($(".question_1").val());
            variable_feedback = variable_feedback + 1 + " is " + $1 + ", ";

            $2 = Number(Number(remove_non_numbers($(".question_2").val())) * Number($(".question_2_units").val()));
            validate_entry('2', $2, $(".question_2").val());

            $3 = Number(Number(remove_non_numbers($(".question_3").val())) * Number($(".question_3_units").val()));
            validate_entry('3', $3, $(".question_3").val());

            for (var i = 0; i < total_variables; i++) {
                if ($(".question_" + i + "_error").html() != "") {
                    $(".results_content").html("Пожалуйста, убедитесь, что все значения находятся в пределах допустимых пределах.");
                    return;
                }
            }
            for (var i = 0; i < total_variables; i++) {
                if ($(".question_" + i).val() === undefined) {
                    $(".results_content").html("Пожалуйста, ответьте на все вопросы. Все результаты будут вычислены сразу.");
                    return;
                } else if ($(".question_" + i).val() == "") {
                    $(".results_content").html("Пожалуйста, ответьте на все вопросы. Все результаты будут вычислены сразу.");
                    return;
                } else {
                    var temp = $(".dump").html();
                    temp = temp + ".question_" + i + " is " + $(".question_" + i).val() + "<br/>";
                    $(".dump").html(temp);
                }
            }
            $(".results_content").html("");
            var variable_feedback = '';

            var $result0 = '';
            var result_0_title_by_formula = '';
            var result_0_sub_title_by_formula = '';
            var result_0_condition_by_formula = '';

            var $result1 = '';
            var result_1_title_by_formula = '';
            var result_1_sub_title_by_formula = '';
            var result_1_condition_by_formula = '';

            $result0 = (function() {

                var gender = $0;
                var race = $1;
                var age = $2;
                var creatinine = $3;

                var k;
                var alpha;
                var constant;

                if(gender == 1.0) { //male
                    k = 0.9;
                    alpha = -0.411;
                    constant = 1.0;
                }
                else {
                    k = 0.7;
                    alpha = -0.329;
                    constant = 1.018;
                }

                var scrOverK = creatinine/k;

                var minFactor;
                var maxFactor;

                if(scrOverK > 1) {
                    minFactor = 1;
                    maxFactor = scrOverK;
                }
                else {
                    minFactor = scrOverK;
                    maxFactor = 1;
                }

                var results = 141 * Math.pow(minFactor, alpha) * Math.pow(maxFactor, -1.209) * Math.pow(0.993, age) * constant * race;

                return Math.round(results * 10.0)/10.0;

            })();
//            append_to_debug('$result' + 0 + " is " + $result0);

            append_to_results("<div class='result_0_group'><h3 class='result_0_title_area'></h3><div class='result_0_mini_title_area mini_title'></div><div class='result_0_sub_title_area answers_sub_title'></div><div class='result_0_answer_area answers'></div><div class='result_0_note_area note answers_note'></div></div>");
            populate_elements('result_0_title_area', result_0_title_by_formula, "Примерный GFR использующий CKD-EPI");
            populate_elements('result_0_sub_title_area', result_0_sub_title_by_formula, "");

            populate_elements('result_0_answer_area', String($result0 + " mL/min/1.73mВІ"), "");

//            clean_up_result_group("0");

            $result1 = (function() {

                var gender = $0;
                var race = $1;
                var age = $2;
                var creatinine = $3;

                var MDRDconstant;

                if(gender == 1.0) { //male
                    MDRDconstant = 1.0;
                }
                else {
                    MDRDconstant = 0.742;
                }

                if(race == 1.0) { //white
                    MDRDconstant *= 1.0;
                }
                else {
                    MDRDconstant *= 1.21;
                }

                var mdrdResults = (186*MDRDconstant)/(Math.pow(creatinine,1.154) * Math.pow(age,0.203));

                return Math.round(mdrdResults * 10.0)/10.0;

            })();
//            append_to_debug('$result' + 1 + " is " + $result1);

            append_to_results("<div class='result_1_group'><h3 class='result_1_title_area'></h3><div class='result_1_mini_title_area mini_title'></div><div class='result_1_sub_title_area answers_sub_title'></div><div class='result_1_answer_area answers'></div><div class='result_1_note_area note answers_note'></div></div>");
            populate_elements('result_1_title_area', result_1_title_by_formula, "Примерный GFR использующий MDRD");
            populate_elements('result_1_sub_title_area', result_1_sub_title_by_formula, "");

            populate_elements('result_1_answer_area', String($result1 + " mL/min/1.73mВІ"), "");


//            clean_up_result_group("1");


//            scroll_to_results_section();
        }

    </script>
{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <style>
            .results_content{
                font-weight: bold;
                text-align: center;
                font-size: 15px;
                margin-top: 20px;
            }
            .result_0_title_area{
                font-size: 20px;
                text-align: left;
            }
            .result_1_title_area{
                font-size: 20px;
                text-align: left;
            }
            .answers{
                text-align: left;
            }
        </style>
{% endblock %}