{% extends 'AppBundle::layout.html.twig' %}

{% block fullContent %}
    <div class="row">
        <div class="col-xs-9">
            <h1 class="blue-text">Вебинар тестовый</h1>
            <br />
            <div class="text-center">
                <iframe src="https://login.webinar.fm/ru/login/24245841/light" width="800" height="600"></iframe>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            {{ render(controller("AppBundle:Widget:banner" )) }}
        </div>
    </div>
{% endblock %}

